<footer
  class="flex items-center justify-between border-t border-gray-700 pt-4 text-sm text-gray-500">
  <div class="flex items-center space-x-6">
    <span>
      <app-shared-kbd key="esc"></app-shared-kbd>
      or
      <app-shared-kbd key="q"></app-shared-kbd>
      - Quit
    </span>
    <span>
      <app-shared-kbd key="i"></app-shared-kbd>
      - Start
    </span>
  </div>
  <div>
    <span>
      <app-shared-kbd key="Ctrl"></app-shared-kbd>
      <app-shared-kbd key="R"></app-shared-kbd> - Restart
    </span>
  </div>
</footer>
