<div class="flex items-center justify-between">
  <div class="me-2 flex items-center">
    <app-translate-mode [mode]="mode()"></app-translate-mode>
  </div>
  <div class="flex items-center space-x-6">
    <span>
      <app-shared-kbd key="esc"></app-shared-kbd>
      or
      <app-shared-kbd key="q"></app-shared-kbd>
      - Quit
    </span>
    <span class="me-2">
      <app-shared-kbd key="i"></app-shared-kbd>
      - Start
    </span>
  </div>
  <div>
    <span>
      <app-shared-kbd key="Ctrl"></app-shared-kbd>
      <span class="me-2"></span>
      <app-shared-kbd key="R"></app-shared-kbd> - Restart
    </span>
  </div>
</div>
