<div
  class="language-switcher text-md flex items-center justify-between border-1 p-4">
  <div class="flex items-center space-x-4">
    <button class="btn flex items-center rounded p-1">
      <ng-icon name="flagUaSquare" />
    </button>
    <span class="cursor-pointer">ukrainian</span>
    <button class="btn flex items-center rounded p-1">
      <ng-icon name="phosphorArrowsLeftRightLight" />
    </button>
    <span class="cursor-pointer">english</span>
    <button class="btn flex items-center rounded p-1">
      <ng-icon name="flagGbSquare" />
    </button>
  </div>
</div>
