<header
  class="text-md flex items-center justify-between border-2 border-red-500">
  <div class="flex items-center space-x-6">
    <span class="cursor-pointer transition-colors duration-200 hover:text-white"
      >&#64; Symbols</span
    >
    <span class="cursor-pointer transition-colors duration-200 hover:text-white"
      ># Numbers</span
    >
    <span class="cursor-pointer transition-colors duration-200 hover:text-white"
      >X Random</span
    >
  </div>
  <div class="flex items-center space-x-4">
    <span>&#9776; Lines</span>
    <span class="cursor-pointer transition-colors duration-200 hover:text-white"
      >3</span
    >
    <span>*</span>
    <span class="cursor-pointer text-white">6</span>
    <span>*</span>
    <span class="cursor-pointer transition-colors duration-200 hover:text-white"
      >9</span
    >
  </div>
</header>
