@use './../../../../../css/variables.scss' as *;
.btn {
  &:hover {
    background-color: $background-color;
  }
  &.primary {
    background-color: $primary-color;
    color: $text-accent-color;
  }
}
