<div class="selector mt-4 w-full border-t-1 pt-4">
  <div class="grid grid-cols-12">
    <div class="col-span-5">
      <app-shared-select
        #from
        [options]="fromLanguagesOptions()"
        (toggleOption)="selectFrom.emit($event)" />
    </div>

    <div class="col-span-2 flex justify-center">
      <app-shared-icon-button
        [icon]="phosphorArrowsLeftRightLight"
        (fire)="switchLanguages.emit()" />
    </div>

    <div class="col-span-5">
      <app-shared-select
        #to
        [options]="toLanguagesOptions()"
        (toggleOption)="selectTo.emit($event)" />
    </div>
  </div>
  <div class="flex items-center justify-between pt-4">
    @if (canAddOtherLanguages()) {
      <p>
        <a
          tabindex="0"
          class="cursor-pointer"
          (click)="addOtherLanguages.emit()"
          (keydown.enter)="addOtherLanguages.emit()"
          (keydown.space)="addOtherLanguages.emit()">
          select from all languages
        </a>
      </p>
    } @else {
      <div></div>
    }
    <app-shared-icon-button
      [isPrimary]="true"
      [icon]="phosphorXSquareLight"
      (fire)="closeSelector.emit()" />
  </div>
</div>
