<div class="relative" [class.disabled]="isDisabledInput()">
  <app-shared-title>
    <ng-icon name="phosphorArticleNyTimesLight" />
    text
  </app-shared-title>
  <app-shared-textarea
    [disabled]="isDisabledInput()"
    (changeHeight)="changeHeight.emit($event)"
    (changeValue)="changeValue.emit($event)"
    (activated)="activateInputMode.emit()" />
  <app-shared-icon-button
    [isPrimary]="true"
    [icon]="phosphorArrowCircleDownRightLight"
    (fire)="translate.emit()"
    class="absolute right-4 bottom-0 m-1" />
</div>
