.words {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em; /* Adjusts space between words */
}
.cursor {
  background-color: #e2e8f0; /* A light gray background for the cursor */
  color: #282a36; /* Dark text color for the letter under the cursor */
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
}
kbd {
  font-family: inherit; /* Ensures kbd elements use the monospace font */
}
