<dialog #userLanguagesDialog>
  <app-shared-dialog title="your languages">
    <div class="dialog-content">
      <app-shared-select
        #selector
        [options]="options()"
        (toggleOption)="toggleOption($event)" />
    </div>
    <app-shared-dialog-controls class="dialog-controls">
      <app-shared-button title="save" [isPrimary]="true" (fired)="save()" />
      <span class="mx-2"></span>
      <app-shared-button title="cancel" (fired)="close()" />
    </app-shared-dialog-controls>
  </app-shared-dialog>
</dialog>
