<app-shared-spacer multiplexor="2" />

<app-input-container
  [setInputMode]="setInputMode()"
  (changeHeight)="height.set($event)"
  (changeValue)="changeInputValue($event)"
  (activateInputMode)="switchToInputMode()"
  (translate)="translate()" />
<app-shared-spacer multiplexor="2" />

@if (loading()) {
  <app-shared-loader />
  <app-shared-spacer multiplexor="2" />
}

@if (error(); as error) {
  <app-shared-alert [message]="error" type="error" />
  <app-shared-spacer multiplexor="2" />
}

@if (translated(); as translated) {
  <app-translation [translated]="translated" [updatedHeight]="height()" />
  <app-shared-spacer />
}
