<div class="flex items-center justify-between">
  <div class="me-2 flex items-center">
    <app-translate-mode [mode]="mode()"></app-translate-mode>
  </div>
  <div class="hidden sm:block">
    @for (mapping of mappings(); track $index) {
      <span class="me-2"></span>
      @for (key of mapping.keys; track $index) {
        <app-shared-kbd [key]="key"></app-shared-kbd>
        <span class="me-2"></span>
      }
      {{ mapping.description }}
    }
  </div>
  <app-bottom-model-view [provider]="provider()" [model]="model()" />
</div>
