<div
  class="translate_containter w-full max-w-5xl min-w-2xl p-8 pb-6 text-gray-500 shadow-2xl">
  <app-language-switcher
    [maybeFromLanguage]="fromLanguage()"
    [maybeToLanguage]="toLanguage()" />
  <app-shared-spacer />
  <app-input-container
    [inputString]="inputString()"
    (changeHeight)="height.set($event)"
    (unFocus)="unFocus()"
    (typed)="onFocus()" />
  <app-shared-spacer multiplexor="2" />
  @if (loading()) {
    <app-shared-loader />
    <app-shared-spacer multiplexor="2" />
  }
  @if (error(); as error) {
    <app-shared-alert [message]="error" type="error" />
    <app-shared-spacer multiplexor="2" />
  }
  @if (translated(); as translated) {
    <app-translation [translated]="translated" [updatedHeight]="height()" />
    <app-shared-spacer />
  }
  <app-bottom-bar [mode]="mode()" />

  <app-shared-select
    [options]="testOptions()"
    (toggleOption)="toggleOption($event)" />

  <app-user-languages
    #settingUserLanguagesDialog
    (saveUserLanguages)="saveUserLanguages($event)" />
</div>
