<div class="border-1 p-4">
  <div class="language-switcher grid grid-cols-12">
    @if (isDefinedLanguage()) {
      @if (maybeFromLanguage(); as lang) {
        <div class="col-span-5 flex justify-end">
          <span class="cursor-pointer">{{ lang.name }}</span>
          <app-shared-icon-button [icon]="lang.flag" />
        </div>
      }
      <div class="col-span-2 flex justify-center">
        <app-shared-icon-button
          [icon]="phosphorArrowsLeftRightLight"
          (fire)="switchLanguage()" />
      </div>
      @if (maybeToLanguage(); as lang) {
        <div class="col-span-5 flex justify-start">
          <app-shared-icon-button [icon]="lang.flag" />
          <span class="cursor-pointer">{{ lang.name }}</span>
        </div>
      }
    } @else {
      <div class="col-span-12 flex">
        <app-shared-icon-button [icon]="phosphorAlienLight" />
        <span>will detect language</span>
      </div>
    }
  </div>
  <app-language-switcher-selector
    #selector
    [class.hidden]="!canChangeLanguages()"
    (switchLanguages)="switchLanguage()"
    (addOtherLanguages)="addOtherLanguages()"
    (selectFrom)="selectFromLanguage($event)"
    (selectTo)="selectToLanguage($event)"
    (closeSelector)="closeSelector()"
    [isAllLanguages]="isAllLanguages()"
    [fromLanguagesOptions]="fromOptions()"
    [toLanguagesOptions]="toOptions()" />
</div>
