<div class="border-1 p-4">
  <app-language-switcher-panel
    [from]="panelFromView()"
    [to]="panelToView()"
    (switchLanguage)="fireAction(switchAction)"
    (changeFrom)="fireAction(changeFromAction)"
    (changeTo)="fireAction(changeToAction)"></app-language-switcher-panel>

  <app-language-switcher-selector
    #selector
    [class.hidden]="!canChangeLanguages()"
    (switchLanguages)="fireAction(switchAction)"
    (addOtherLanguages)="addOtherLanguages()"
    (selectFrom)="selectFromLanguage($event)"
    (selectTo)="selectToLanguage($event)"
    (closeSelector)="closeSelector()"
    [isAllLanguages]="isAllLanguages()"
    [fromLanguagesOptions]="fromOptions()"
    [toLanguagesOptions]="toOptions()" />
</div>
